html {
  background: #000;
}
/*--extend--*/
.area {
  width: 100%;
  height: 288px;
  transform: translateZ(0);
  backface-visibility: hidden;
  // margin-right: 20px;
  perspective: 1000;
}

.fore, .mid, .bk, .container { 
  @extend .area; 
}

.figure {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57786/dog-walk.svg") no-repeat;
  width: 220px;
  height: 566px;
  transform: translate3D(200px, 50px, 0);
  animation: walk 100.78s steps(19) infinite;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 100;

  -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    @-ms-keyframes spin { 
      from { 
          -ms-transform: rotate(0deg); 
      } to { 
          -ms-transform: rotate(360deg); 
      }
  }
  @-moz-keyframes spin { 
      from { 
          -moz-transform: rotate(0deg); 
      } to { 
          -moz-transform: rotate(360deg); 
      }
  }
  @-webkit-keyframes spin { 
      from { 
          -webkit-transform: rotate(0deg); 
      } to { 
          -webkit-transform: rotate(360deg); 
      }
  }
  @keyframes spin { 
      from { 
          transform: rotate(0deg); 
      } to { 
          transform: rotate(360deg); 
      }
  }


}
.no-svg .figure {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57786/dog-walk.png");
}

.fore {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57786/foreground.svg");
  transform: translateZ(0);
  animation: bk 7s -5s linear infinite;
}
.no-svg .fore {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57786/foreground.png");
}

.mid {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57786/midground.svg");
  animation: bk 15s -5s linear infinite;
  transform: translateZ(0);
}
.no-svg .mid {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57786/midground.png");
}

.bk {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57786/background.svg");
  animation: bk 2000s -5s linear infinite;
  transform: translateZ(0);
}
.no-svg .bk {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57786/background.png");
}

@keyframes walk {
  100% { background-position: 0 -2376px; }
}

@keyframes bk {
  100% { background-position: 400% 0; }
}

@media screen and ( max-width: 600px ) {
  .container { 
    width: 100%; 
    margin-top: 0;
  }
  .figure { transform: translate3D(40%, 50px, 0); }
}