<!--The content below is only a placeholder and can be replaced.-->

<!-- <nav  class="navbar navbar-expand-lg  navbar-dark">
    <a class=navbar-brand>Template</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link">Dashboard</a>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="nav-item ">
          <a class="nav-link">Log uit</a>
        </li>
      </ul>
    </div>
  </nav> -->
  
<router-outlet></router-outlet>
