<body class=" fp-responsive">
  <div id="fp-nav" class="fp-right" style="margin-top: -43.5px;">
    <ul>
      <li><a href="#page1" class=""><span class="fp-sr-only">page1</span><span></span></a></li>
      <li><a href="#page2" class=""><span class="fp-sr-only">page2</span><span></span></a></li>
      <li><a href="#page3" class=""><span class="fp-sr-only">page3</span><span></span></a></li>
      <li><a href="#page4" class=""><span class="fp-sr-only">page4</span><span></span></a></li>
      <li><a href="#page5" class=""><span class="fp-sr-only">page5</span><span></span></a></li>
    </ul>

  </div>
  <!-- (ref)="getRef($event)" -->

  <div fullpage id="fullpage" [options]="config" (ref)="getRef($event)" #fullpageRef>
    <div class="section">
      <section class="background background1">
        <div>
          <div class="centertext">
            <p class="headingtest">Portfolio Website</p>
            <p class="undertext">Jay Peters</p>
          </div>

        </div>
      </section>
    </div>
    <!-- (click)="fullpage_api.moveSectionDown()" -->
    <div class="section background2 ">

      <section>
        <p class="header2 ">Info</p>
        <div class="container">
          <div class="row section3">
            <div class="col col-md-6">
              <img class="responsive" src="https://via.placeholder.com/500x350">
            </div>
            <div class="col white col-md-6">
              <h2 class="">Wie ben ik</h2>
              <p>Mijn naam is Jay Peters. Op dit moment ben ik 17 jaar oud. Computers en Development heb ik al altijd al
                interesant gevonden. Toen ik 3 jaar was had mijn opa een
                oude computer van apple, dit was de eerste keer dat ik achter een pc ging en maar zelf dingen ben gaan
                uitzoeken. Toen ik 13 jaar oud was begon ik met simpele programmas's te programeren. Ik heb toen wat
                kleine programma's/websites gemaakt die niet uitgebreid waren. Hierna heb ik een aantal jaar niet meer
                geprogrameerd, ik had geen motivatie meer om verder te gaan in development.
                Todat ik naar mijn opleiding ging waar ik nu zit.
              </p>
            </div>
          </div>
 
          <div class="row section4">
            <div class="col white bottom col-md-6">
              <h2 class="">Wat studeer ik</h2>
              <p>Op dit moment studeer ik Applicatie Ontwikkeling op het Rijn IJssel. Ik heb erg veel plezier in het
                programeren op school. Ik programeer veel in Angular 7 en in ASP.net. De opleiding die ik volg heeft
                Rijk onderwijs. Hierbij zit je niet de hele dag in de klas maar zit je op een zaal met alle 1ste, 2de en
                3de jaars. Je hebt verschillende tafels met ieder meerdere studenten van elk leerjaar. Het is de
                bedoeling dat je zelfstandig handelt, zoek eerst je probleem op op internet, kom je er dan niet uit dan
                vraag je aan je een oplossing aan je tafel, lukt het dan nog niet dan ga je naar een docent toe. Je
                werkt 5 weken (1 cyclus) aan een project naar keuze. Ook moet je erg zelfstandig werken, als jij wat
                anders wilt doen is dat goed zolang je maar je project in 5 weken af hebt.</p>
            </div>
            <div class="col bottom col-md-6">
              <img class="responsive" src="../../assets/images/zijpendaalseweg-1500x1000.jpg">
            </div>
          </div>
        </div>
      </section>
    </div>



    <div class="section">
      <p class="header">Projecten</p>
      <p class="paragraph1">Hieronder staan een aantal voorbeelden van projecten waar ik aan heb gewerkt.</p>
      <section data-scroll class="section1">
        <div class="container">
          <div class="row">
            <div class="col col-md-6">
              <h2>Het Covadis Project (Huub)</h2>
              <p>
                Dit project is het project dat ik gedaan heb voor Covadis op school. Het project is gemaakt in ASP.Net
                core als backend, en als frontend hebben we Angular 7 gebruikt. Ik heb hier met 5 andere developers aan
                gewerkt. Dit hebben wij gedaan in 10 weken. Het Project is erg uitgebreid, het is een Inkoop Organisatie
                systeem. In deze applicatie keken wij bijvoorbeeld hoeveel het bedrijf nog moet inkopen en hoeveel het
                nog op vooraad heeft. Ik heb me vooral bezig gehouden met het permissions systeem en het user systeem
                van de website. ook heb ik eens stukje frontend gedaan.

              </p>
            </div>
            <div class="col col-md-6">
              <img class="responsive" src="../../assets/images/c2ebc03a5a1290dfd7539219943d7013.jpg">
            </div>
          </div>
        </div>

        <div class="section2">
          <div class="container">
            <div class="row ">
              <div class="col col-md-6">
                <a href="https://git.ao.rijnijssel.nl/JayPeters/bookonshelf-v2">
                  <img class="responsive" src="../../assets/images/bookonshelf.jpg">
                </a>
              </div>
              <div class="col col-md-6">
                <h2>BookOnShelf</h2>
                <p>Dit is een Project dat ik op school heb gedaan als opdracht. In dit project heb ik voor het eerst
                  kennis gemaakt met ASP.Net core. Het project was in het begin moeilijk. Er was niet veel hulp, en op
                  internet stond lang niet alle informatie die ik nodig had. Maar uit eindelijk is het toch gelukt om
                  een website te maken. De website is bedoelt voor een biblotheek om boeken in een catalogus toe te
                  voegen. Het design van de website is heel erg basis maar de back end van het programma is erg
                  uitgebreid.
                </p>
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>

    <div class="section">
      <section>
        <div class="background blackbox">
          <p class="header1">Referenties</p>
          <div class="container">
            <div class="row">
              <div class="icon col col-md-6">
                <a href="https://www.linkedin.com/in/jay-peters-01b881186/">
                  <img class="image" src="../../assets/images/iconmonstr-linkedin-3-240.png" alt="linkedin">

                </a>
                <p class="textunder undertext">Linkedin</p>
              </div>
              <div class="icon1 ">
                <a href="https://git.ao.rijnijssel.nl/JayPeters">
                  <img class="image" src="../../assets/images/gitlab.png" alt="github">
                </a>
                <p class="textunder undertext gitlab">GitLab</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="section">
      <section class="section3">
        <div class="container1">
          <div class="map">
            <iframe src="https://maps.google.com/maps?q=Wijchen&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%"
              height="650px" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="contact-form">
            <h1 class="title">Neem contact op</h1>
            <h2 class="subtitle">
              Stad: Wijchen<br>
              Land: Nederland<br>
              Email: jaypeters1404@gmail.com
            </h2>
            <form action="">
              <input type="text" placeholder="Uw naam" />
              <input type="email" placeholder="Uw Email Addres" />
              <input type="tel" placeholder="Uw Telefoonnummer" />
              <textarea id="" rows="8" placeholder="Uw Bericht"></textarea>
              <a routerLink="/info" href="#">
                <button class="btn-send">Verstuur Bericht</button>
              </a>
              
            </form>
          </div>
        </div>
      </section>
    </div>

  </div>

</body>





<!-- <div class="section" (click)="fullpage_api.moveTo('secondPage', 2)">Some section4</div> -->