[data-scroll] {
  transition: opacity 1s;
}
[data-scroll="in"] {
  opacity: 1;
}
[data-scroll="out"] {
  opacity: 0;
}

/*Content*/
.header {
  text-align: center !important;
  font-size: 4em !important;
  font-weight: bold;
}
.white {
  color: #ffffff;
}
.bottom {
  padding-top: 5%;
}

.header1 {
  text-align: center !important;
  padding-top: 2%;
  font-size: 4em !important;
  font-weight: bold;
  color: #ffffff;
}
.header2 {
  text-align: center !important;
  margin-bottom: 5%;
  font-size: 4em !important;
  font-weight: bold;
  color: #ffffff;
}
.fp-controlArrow {
  background-color: #242424 !important;
  color: #242424 !important;
  border-color: transparent #242424 transparent transparent !important;
}
.fp-controlArrow.fp-prev {
  border-color: #242424 transparent transparent !important;
}

.background1 {
  background-image: url("../images/newbackground.jpg") !important;
}

.background {
  background-color: black;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
.background2 {
  background-color: black;
  width: 100%;
  height: 40% !important;
}

.imgtop {
  padding-bottom: 20% !important;
}
.responsive {
  width: 500px;
  height: 300px;
}
.headingtest {
  font-size: 6em !important;
}
.undertext {
  font-size: 3em !important;
}
.textunder {
  padding-left: 8%;
  padding-top: 5%;
  color: white;
  font-weight: bold;
}
.gitlab {
  padding-left: 24% !important;
}

.centertext {
  text-align: center;
  color: #ffffff;
  padding-top: 15%;
}
.section1 {
  padding-top: 1%;
}
.section2 {
  padding-top: 4%;
}
.icon {
  padding-left: 23%;
  margin-top: 10%;
}
.icon1 {
  padding-left: 5%;
  margin-top: 10%;
}
.paragraph1 {
  color: black;
  text-align: center;
}
.image {
  overflow: hidden;
}
/*-----Contact-----*/
.container1 {
  background: #ffffff;
  width: 900px;
  height: 620px;
  margin: -2% auto;
  padding-bottom: 20% !important;
  position: relative;
}
.container1 .map {
  width: 45%;
  float: left;
}
.container1 .contact-form {
  width: 53%;
  margin-left: 2%;
  float: left;
}
.container1 .contact-form .title {
  font-size: 2.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #242424;
  margin: 0% 8%;
}
.container1 .contact-form .subtitle {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 4% 5% 8%;
}
.container1 .contact-form input,
.container1 .contact-form textarea {
  width: 330px;
  padding: 3%;
  margin: 1% 8%;
  color: #242424;
  border: 1px solid #b7b7b7;
}
.container1 .contact-form input::placeholder,
.container1 .contact-form textarea::placeholder {
  color: #242424;
}
.container1 .contact-form .btn-send {
  background: #a383c9;
  width: 180px;
  height: 60px;
  color: #ffffff;
  font-weight: 700;
  margin: 0% 8%;
  border: none;
}

@media only screen and (max-width: 900px) {
  .icon{
    margin-left: -2.5%;
    margin-top: 10%;
    width: 100px;
  }

  .icon1{
    margin-top: 20%;
    padding-left: 18%;
  }
  .responsive {
    width: 320px;
    height: 290px;
  }
  .header {
    text-align: center !important;
    font-size: 2em !important;
    font-weight: bold;
  }
  .header1 {
    text-align: center !important;
    padding-top: 2%;
    font-size: 2em !important;
    font-weight: bold;
    color: #ffffff;
  }
}
@media only screen and (max-width: 1280px) {
  .section1 {
    margin-top: -1%;
  }
  .section2 {
    margin-top: -3.5%;
  }
  .paragraph1 {
    margin-top: -1%;
  }
  .section3 {
    margin-top: -5%;
  }
  .section4 {
    margin-top: -5%;
  }
}
@media only screen and (max-width: 320px) {
  .responsive {
    width: 290px;
    height: 290px;
  }
  .container1 .contact-form input,
  .container1 .contact-form textarea {
    width: 100px;
  }

  .container1 {
    width: 320px;
  }
}
@media only screen and (max-width: 420px) {
  .responsive {
    width: 320px;
    height: 320px;
    margin: auto 7%;
    
  }
  .container1 .map {
    width: 30%;
    display: none;
  }
  .container1 .contact-form input,
  .container1 .contact-form textarea {
    width: 200px;
  }
  .container1 .contact-form {
    width: 100%;
    padding-left: 10%;
  }
  .container1 {
    width: 340px;
  }
  // .hidden{
  //   display: hidden;
  // }
}
